<header class="inner_header">

    <!-- <div class="container-fluid px-0">
        <div class="col-lg-12">
            <nav>
                <div class="inner-header">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="inner-items">
                                <ul class="inner-header_list">
                                    <li class="inner-item has-subitems">
                                        <a href="" class="mainitem">Shop</a>
                                        <ul class="subitems">
                                            <div class="row">
                                                <div class="col-lg-2">
                                                    <ul><a href="RugsForLivingRoom.html">Living Room</a></ul>
                                                    <li><a href="RugsForLivingRoom.html">Dining Room</a></li>
                                                    <li><a href="RugsForLivingRoom.html">Bedroom</a></li>
                                                    <li><a href="RugsForLivingRoom.html">Puja Room</a></li>
                                                    <li><a href="RugsForLivingRoom.html">Corridors</a></li>
                                                    <li><a href="RugsForLivingRoom.html">Study</a></li>
                                                    <li><a href="RugsForLivingRoom.html">Playrooms</a></li>
                                                    <li><a href="RugsForLivingRoom.html">All Rugs</a></li>
                                                </div>
                                                <div class="col-lg-2">
                                                    <ul>BY SIZE (FT)</ul>
                                                    <li><a href="#">5x3</a></li>
                                                    <li><a href="#">6x4</a></li>
                                                    <li><a href="#">7x5</a></li>
                                                    <li><a href="#">Round</a></li>
                                                    <li><a href="#">Runners</a></li>
                                                    <li><a href="#">Over Sized</a></li>
                                                </div>
                                                <div class="col-lg-2">
                                                    <ul>BY MATERIAL</ul>
                                                    <li><a href="#">Wool</a></li>
                                                    <li><a href="#">Viscose</a></li>
                                                    <li><a href="#">Silk</a>
                                                    <li><a href="#">Jute</a></li>
                                                    <li><a href="#">PET</a></li>
                                                    <li><a href="#">Banana Silk</a></li>
                                                    <li><a href="#">Bamboo Silk</a></li>
                                                </div>
                                                <div class="col-lg-2">
                                                    <ul>BY LIFESTYLE</ul>
                                                    <li><a href="#">Traditional Living</a></li>
                                                    <li><a href="#">Contemporary Living</a></li>
                                                    <li><a href="#">Bohemian Living</a>
                                                    <li><a href="#">Regional Living</a></li>
                                                </div>
                                                <div class="col-lg-2">
                                                    <ul>BY STYLE</ul>
                                                    <li><a href="#">Modern</a></li>
                                                    <li><a href="#">Traditional</a></li>
                                                    <li><a href="#">Geometric</a>
                                                    <li><a href="#">Abstract</a></li>
                                                    <li><a href="#">Solids</a></li>
                                                    <li><a href="#">Floral</a></li>
                                                </div>
                                            </div>
                                        </ul>
                                    </li>
                                    <li class="inner-item has-subitems">
                                        <a href="" class="mainitem">Services</a>
                                        <ul class="subitems">
                                            <li class="">
                                                <a href="#">White Glove Service</a>
                                            </li>
                                            <li class="">
                                                <a href="#">Customization</a>
                                            </li>
                                            <li class="">
                                                <a href="#">Hospitality</a>
                                            </li>
                                            <li class="">
                                                <a href="#">Academic Council</a>
                                            </li>
                                            <li class="">
                                                <a href="#">Research and Innovation Council</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="inner-item has-subitems">
                                        <a href="" class="mainitem">Legacy</a>
                                        <ul class="subitems">
                                            <li class="">
                                                <a href="#">Craftmanship</a>
                                            </li>
                                            <li class="">
                                                <a href="#">Sustainability</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="inner-item">
                                        <a href="" class="mainitem">Connect</a>
                                    </li>
                                    <li class="inner-item">
                                        <a href="" class="mainitem">Sale</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-5 mainlogoimg">
                            <a href="HomePage.html"><img class="" src="assets/images/logo.png" alt=""></a>
                        </div>
                        <div class="col-lg-3 d-flex childclass">
                            <select class="form-select" aria-label="Default select example">
                                <option selected>INR</option>
                                <option value="1">USD</option>
                            </select>
                            <a href="" alt="icon-links"><i class="fa fa-search" aria-hidden="true"></i></a>
                            <a href="" alt="icon-links"><i class="fa fa-heart" aria-hidden="true"></i></a>
                            <a href="LoginPage.html" alt="icon-links"><i class="fa fa-user" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div> -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid px-0">
      
            <div class="offcanvas offcanvas-start" tabindex="-1" id="sidebar" aria-labelledby="sidebarLabel">
                <div class="offcanvas-header">
                  <h5 class="offcanvas-title" id="sidebarLabel">Menu</h5>
                  <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                  <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="shopDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Shop
                        </a>
                        <ul class="dropdown-menu dropdown-menu-wide" aria-labelledby="shopDropdown">
                          <div class="row">
                            <div class="col-lg-2">
                                <ul>BY ROOM</ul>
                              <li><a class="dropdown-item" href="/living-room-rugs">Living Room</a></li>
                              <li><a class="dropdown-item" href="RugsForLivingRoom.html">Dining Room</a></li>
                              <li><a class="dropdown-item" href="RugsForLivingRoom.html">Bedroom</a></li>
                              <li><a class="dropdown-item" href="RugsForLivingRoom.html">Puja Room</a></li>
                              <li><a class="dropdown-item" href="RugsForLivingRoom.html">Corridors</a></li>
                              <li><a class="dropdown-item" href="RugsForLivingRoom.html">Study</a></li>
                              <li><a class="dropdown-item" href="RugsForLivingRoom.html">Playrooms</a></li>
                              <li><a class="dropdown-item" href="RugsForLivingRoom.html">All Rugs</a></li>
                            </div>
                            <div class="col-lg-2">
                                <ul>BY SIZE (FT)</ul>
                              <li><a class="dropdown-item" href="#">5x3</a></li>
                              <li><a class="dropdown-item" href="#">6x4</a></li>
                              <li><a class="dropdown-item" href="#">7x5</a></li>
                              <li><a class="dropdown-item" href="#">Round</a></li>
                              <li><a class="dropdown-item" href="#">Runners</a></li>
                              <li><a class="dropdown-item" href="#">Over Sized</a></li>
                            </div>
                            <div class="col-lg-2">
                                <ul>BY MATERIAL</ul>
                              <li><a class="dropdown-item" href="#">Wool</a></li>
                              <li><a class="dropdown-item" href="#">Viscose</a></li>
                              <li><a class="dropdown-item" href="#">Silk</a></li>
                              <li><a class="dropdown-item" href="#">Jute</a></li>
                              <li><a class="dropdown-item" href="#">PET</a></li>
                              <li><a class="dropdown-item" href="#">Banana Silk</a></li>
                              <li><a class="dropdown-item" href="#">Bamboo Silk</a></li>
                            </div>
                            <div class="col-lg-3">
                                <ul>BY LIFESTYLE</ul>
                              <li><a class="dropdown-item" href="#">Traditional Living</a></li>
                              <li><a class="dropdown-item" href="#">Contemporary Living</a></li>
                              <li><a class="dropdown-item" href="#">Bohemian Living</a></li>
                              <li><a class="dropdown-item" href="#">Regional Living</a></li>
                            </div>
                            <div class="col-lg-2">
                                <ul>BY STYLE</ul>
                              <li><a class="dropdown-item" href="#">Modern</a></li>
                              <li><a class="dropdown-item" href="#">Traditional</a></li>
                              <li><a class="dropdown-item" href="#">Geometric</a></li>
                              <li><a class="dropdown-item" href="#">Abstract</a></li>
                              <li><a class="dropdown-item" href="#">Solids</a></li>
                              <li><a class="dropdown-item" href="#">Floral</a></li>
                            </div>
                          </div>
                        </ul>
                      </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="servicesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Services
                      </a>
                      <ul class="dropdown-menu" aria-labelledby="servicesDropdown">
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="legacyDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Legacy
                      </a>
                      <ul class="dropdown-menu" aria-labelledby="legacyDropdown">
                        </ul>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Connect</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Sale</a>
                    </li>
                  </ul>
                </div>
              </div>
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebar" aria-controls="sidebar">
            <span class="navbar-toggler-icon"></span>
          </button>
      
          
          <!-- logo -->
          <div class="collapse navbar-collapse" id="mainNavbar">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              </ul>
      
            <a class="navbar-brand mx-5 d-none d-lg-block" style="width: 50%;" href="HomePage.html">
              <img src="assets/images/logo.png" alt="Logo" class="img-fluid">
            </a>
      
            <ul class="navbar-nav ms-auto">
              </ul>
          </div>
      
          <a class="navbar-brand d-lg-none mx-5" style="width: 50%;" href="HomePage.html">
            <img src="assets/images/logo.png" alt="Logo" class="img-fluid">
          </a>
          
          <ul class="navbar-nav d-flex ms-auto"> 
            <li class="nav-item dropdown">
                <select class="form-select" aria-label="Default select example">
                    <option selected>INR</option>
                    <option value="1">USD</option>
                </select>
            </li>
            <li class="nav-item"><a href="#" class="nav-link" alt="icon-links"><i class="fa fa-search" aria-hidden="true"></i></a></li>
            <li class="nav-item"><a href="#" class="nav-link" alt="icon-links"><i class="fa fa-heart" aria-hidden="true"></i></a></li>
            <li class="nav-item"><a href="#" class="nav-link" alt="icon-links"><i class="fa fa-user" aria-hidden="true"></i></a></li>
          </ul>
        </div>
      </nav>
</header>